*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}
body{
  background-color: #7474ff;
}

span{
  font-size: 11px;
  color: gray;
  font-weight: bold;
}
.container{
  font-family: serif;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 170px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px rgba(74,74,74, 0.7);
  padding: 15px;
}
.display{
  height: 51px;
  width: 141px;
  outline: none;
  border:none;
  padding: 0px 11px;
  font-size: 16px;
  border-radius: 5%;
    overflow: auto scroll;
  box-shadow: inset 3px 2px 8px rgba(150,150,150,0.1),inset 2px 2px 1px rgba(150,150,150,0.5),inset 3px 2px 8px rgba(150,150,150,0.1),2px 2px 1px rgba(150,150,150,0.5);
}
input[type=button]{
  text-align: center;
  margin-top: 10px;
  margin-left: 2px;
  background-color: #fff;
  border: none;
  outline: none;
  width: 37px;
  height: 36px;
  border-radius: 6px;
  box-shadow: inset 1px 2px 8px rgba(150,150,150,0.1),inset 1px 1px 2px rgba(150,150,150,0.3),inset 1px 1px 2px rgba(150,150,150,0.3), 1px 1px 2px rgba(150,150,150,0.3);
}
input[type=button]:focus{

background-color:#7575ff;

color:#fff;

}
